@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-light.ttf);
  font-weight: 200;
}
